.Playlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    width: 37%;
    max-height: 950px;
    padding: 2.27rem 1.16rem;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50px;
  }
  
  .Playlist input {
    width: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid white;
    padding-bottom: 1rem;
    font-family: 'Lora';
    font-weight: 100;
    font-size: 1.55rem;
    color: #fff;
    text-align: center;
  }
  
  #buttons {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }
  .Playlist-button {
    display: inline;
    cursor: pointer;
    font-family: 'Yu Gothic UI', sans-serif;
    font-weight: 400;
    letter-spacing: .05rem;
    width: 7.5rem;
    padding: .77rem 0;
    border-radius: 54px;
    border-width: 0px;
    margin-top: 1.27rem;
    background-color: transparent;
    text-align: center;
    font-size: .83rem;
    transition: background-color .5s;
    color: #fff;
    border: 1px solid white;
  }
  
  .Playlist-button:hover {
    background-color: white;
    color: black;
    transition: background-color .25s;
  }
  
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent;
  }
  
  @media only screen and (max-width: 1020px) {
    .Playlist {
      width: 90%;
    }
  }